@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    background: rgb(37,37,37);
    background: linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(19,19,19,1) 15%);
}
.logo li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "Exo 2",sans-serif;
}

.navbar a:hover{
    color: grey;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 0 2rem;
    background-color: #000000;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;

  
}


.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Nico Moji";
    color: gray;
}

.navbar .links{
    
    display: flex;
    gap: 5rem;
}


.navbar .toggle_btn{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.bold_login{
    font-weight: bold;
}

/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Responsive navbar */

@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn,
    .bold_login {
        display:none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width:576px){ 
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}



.member{
    width:auto !important;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 150px 150px 150px;
    /* margin-top: -20px; */
}

.member2 #div4 {
    padding-top: 50px;
}


.member2{
    width:auto !important;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 150px 150px 150px;
    margin-top: -200px;
}

.member3 #div4 {
    padding-top: 100px;
}


.member3{
    width:auto !important;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 150px 150px 150px;
    margin-top: -200px;
}


#cssportal-grid {
    color: #fff;
    border-radius: 2%;
    background: rgb(37,37,37);
    background: linear-gradient(90deg, rgba(37,37,37,1) 37%, rgb(84, 84, 84) 98%);
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(8, 1fr);
	gap: 0;
	width: 100%;
	height: 100%;
}
#div1 {
	grid-area: 4 / 2 / 7 / 5;
	/* background-color: rgba(161,44,84, 0.5); */
}

#div1 img{
    width: 300px;
    /* height: 200px; */
   margin-top: -80px;
   margin-left: -20px;
}
#div2 {
	grid-area: 2 / 5 / 3 / 8;
	/* background-color: rgba(83,14,233, 0.5); */
}

#div2 h1{
    text-align:left;
    font-family: "Exo 2",sans-serif;
    font-weight: 400;
}
#div3 {
	grid-area: 4 / 5 / 7 / 8;
	/* background-color: rgba(6,62,149, 0.5); */
}

#div3 p{
    font-family: "Open sans hebrew",sans-serif;
    font-size: 15px;
    margin-top: -40px;
}
#div4 {
	grid-area: 7 / 5 / 8 / 8;
	/* background-color: rgba(224,199,89, 0.5); */
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;

}


#div4 p{
    font-family:"Hammersmith one",sans-serif;
    font-weight: 600;
}



            
.btn{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #748291;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 16px;
transition : 711ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 711ms;
padding: 10px 30px;
transform : translateY(-0px);
background-color: #000000;
color: #ffffff;
border: none;
}


/* footer */
footer{
    /* background-color: #111; */
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    color: white;
    text-decoration: none;
    /* padding:  10px;
    background-color: white; */
    margin: 40px;
    /* border-radius: 50%; */
}
.socialIcons a i{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    /* background-color: #111; */
    transition: 0.1s;
}
.socialIcons a:hover i{
    color: rgb(0, 0, 0);
    transition: 0.1s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    /* opacity: 0.7; */
    transition: 0.5s;

}
.footerNav ul li a:hover{
    /* opacity: 1; */
}






.headerNav{
    margin: 30px 0;
}
.headerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.headerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    /* opacity: 0.7; */
    transition: 0.5s;

}
.headerNav ul li a:hover{
    opacity: 1;
}










.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}






@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}